:root {
	--clr-dark: #222;
	--clr-light: #fff;
	--clr-secondary: #757575;
	--clr-highlight: #ed5610;
	--clr-border: #3b3b3b;
	--clr-bg: #151515;
}
body {
	background-color: var(--clr-bg);
	color: var(--clr-light);
	::-moz-selection {
		/* Code for Firefox */
		background: #ed5610;
		color: white;
	}

	::selection {
		color: var(--clr-secondary);
		background: #ed5610;
		color: white;
	}
}

.clr--secondary {
	color: var(--clr-secondary);
}
