// ———————————————————————–––––––––––––––––––––––––––––––––––
// Type
// ———————————————————————–––––––––––––––––––––––––––––––––––
@font-face {
  font-family: 'PP Mori';
  src: url('../fonts/ppmori-regular-webfont.woff2') format('woff2'),
       url('../fonts/ppmori-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
  font-size:62.5%;
}
body{
  font-family: 'PP Mori';
  font-size:1.4rem;
  line-height:1.5;
  letter-spacing:-0.015em;
  //-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
h1{
  font-size:2.8rem;
  letter-spacing:-0.035em;
  line-height:1.1;
}
h2{
  font-size:2.2rem;
  letter-spacing:-0.035em;
  line-height:1.1;
}

.ff--mono{
  font-family: 'JetBrains mono', serif;
  font-weight:500;
  font-size:1.2rem;
  text-transform: uppercase;
  margin-top:0.2em;
}

.highlight{
  color:var(--clr-highlight); 
}

@media(min-width:960px){
  h1{
    font-size:3.2rem;
  }
  h2{
    font-size:2.4rem;
  }
}

@media(min-width:1280px){
  h1{
    font-size:4.4rem;
  }
  h2{
    font-size:3rem;
  }
}


