// ———————————————————————–––––––––––––––––––––––––––––––––––
// Variables
// ———————————————————————–––––––––––––––––––––––––––––––––––
:root{
    --large-slide:340px; 
    --small-slide: 240px;

    --border-width:1px;

    --ease-out:cubic-bezier(0.19, 1, 0.22, 1);
    --ease-in:cubic-bezier(0.950, 0.050, 0.795, 0.035);
    --ease-in-out:cubic-bezier(1.000, 0.000, 0.000, 1.000);

    @media(min-width:960px){
        --large-slide:370px; 
        --small-slide: 220px;
    }
    @media(min-width:1280px){
        --large-slide:450px; 
        --small-slide: 290px;
    }
    @media(min-width:1600px){
        --large-slide:610px; 
        --small-slide: 450px;
    }
}


